<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prop_arm">

  <!-- Load physics-only parameters -->
  <xacro:arg name="physics_file" default="$(find-pkg-share prop_arm_description)/config/dynamics_params.xacro.yaml"/>

  <!-- Convenience aliases -->
  <xacro:property name="RAW" value="${xacro.load_yaml('$(arg physics_file)')}"/>
  <xacro:property name="P" value="${RAW['prop_arm_description']['ros__parameters']}"/>
  <xacro:property name="L" value="${P['links']}"/>
  <xacro:property name="J" value="${P['joints']}"/>

  <!-- Helper macro to reduce repetition -->
  <xacro:macro name="inertial_from_yaml" params="link_name">
    <inertial>
      <mass value="${L[link_name]['mass']}"/>
      <inertia ixx="${L[link_name]['inertia'][0]}" ixy="${L[link_name]['inertia'][1]}" ixz="${L[link_name]['inertia'][2]}" iyy="${L[link_name]['inertia'][3]}" iyz="${L[link_name]['inertia'][4]}" izz="${L[link_name]['inertia'][5]}"/>
      <origin rpy="0 0 0" xyz="${L[link_name]['com_xyz'][0]} ${L[link_name]['com_xyz'][1]} ${L[link_name]['com_xyz'][2]}"/>
    </inertial>
  </xacro:macro>

  <!-- World link -->
  <link name="world"/>

  <!-- Base link -->
  <link name="base_link">
    <collision name="base_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://prop_arm_description/models/prop_arm_v2/meshes/collisions/base.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <xacro:inertial_from_yaml link_name="base_link"/>
    <visual name="base">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://prop_arm_description/models/prop_arm_v2/meshes/visuals/base.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <!-- Arm link -->
  <link name="arm_link">
    <collision name="arm_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://prop_arm_description/models/prop_arm_v2/meshes/collisions/arm.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <xacro:inertial_from_yaml link_name="arm_link"/>
    <visual name="arm">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://prop_arm_description/models/prop_arm_v2/meshes/visuals/arm.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <!-- Propeller link -->
  <link name="prop_link">
    <collision name="prop_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://prop_arm_description/models/prop_arm_v2/meshes/collisions/prop.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <xacro:inertial_from_yaml link_name="prop_link"/>
    <visual name="prop">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://prop_arm_description/models/prop_arm_v2/meshes/visuals/prop.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <!-- Joint between world and base -->
  <joint name="world_base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <!-- Joint between base and arm -->
  <joint name="arm_link_joint" type="revolute">
    <axis xyz="0 1 0"/>
    <origin rpy="0 -1.57080 -1.57080" xyz="0.00001 -0.00000 0.45833"/>
    <limit lower="${J['arm_link_joint']['limit_lower']}" upper="${J['arm_link_joint']['limit_upper']}" effort="${J['arm_link_joint']['effort']}" velocity="${J['arm_link_joint']['velocity']}"/>
    <dynamics damping="${J['arm_link_joint']['damping']}" friction="${J['arm_link_joint']['friction']}"/>
    <parent link="base_link"/>
    <child link="arm_link"/>
  </joint>

  <!-- Joint between arm and propeller -->
  <joint name="prop_link_joint" type="continuous">
    <dynamics damping="0.01"/>
    <origin rpy="0 0 0" xyz="-0.42152 -0.00001 0.09510"/>
    <parent link="arm_link"/>
    <child link="prop_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Include materials for Gazebo -->
  <xacro:include filename="$(find prop_arm_gazebo)/urdf/prop_arm_materials.xacro"/>

  <!-- Include gazebo plugins -->
  <xacro:include filename="$(find prop_arm_gazebo_plugins)/urdf/prop_arm_gazebo_plugins.xacro"/>

  <!-- Include control interface -->
  <xacro:include filename="$(find prop_arm_gazebo_control)/urdf/prop_arm_control.xacro"/>

</robot>
