<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prop_arm_control">

    <!-- Gazebo plugin para ros2_control -->
    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find prop_arm_gazebo_control)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- ROS 2 Control System Interface -->
    <ros2_control name="PropArmSystem" type="system">
        <hardware>
            <plugin>prop_arm_gazebo_control/PropArmHardware</plugin>
            <param name="robot_namespace">prop_arm</param>
        </hardware>
        <joint name="arm_link_joint">
            <command_interface name="position">
                <param name="min">-6.28</param>
                <param name="max">6.28</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>