<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prop_arm_control">

    <!-- Gazebo plugin for ros2_control -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find prop_arm_gazebo_control)/config/ros2_controllers_motor_force.yaml</parameters>
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
        </plugin>
    </gazebo>

    <!-- ROS 2 Control System Interface -->
    <ros2_control name="PropArmSystem" type="system">
        <hardware>
            <plugin>prop_arm_gazebo_control/PropArmHardware</plugin>
            <param name="robot_namespace">prop_arm</param>
            <param name="actuator_index">0</param>
            <param name="max_rot_velocity_radps">785.0</param>
        </hardware>


        <!-- Define the joint that will be controlled -->
        <joint name="arm_link_joint">
            <command_interface name="velocity">
                <param name="min">0.0</param>
                <param name="max">785.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

    </ros2_control>

</robot>